<h2>My Chats</h2>

<ul>
  <% userChats.forEach(function (chat) { %>
    <li>
      <strong>Proposer: </strong><%= chat.proposer_user_id.local.username %> <br>
      <strong>Proposee: </strong><%= chat.proposee_user_id.local.username %> <br>
      <strong>Listing: </strong><%= chat.listing_id.name %> <br>
      <a href= <%= "/chats/mychats/" + chat._id %> >View Messages</a>
    </li>
  <% }) %>
</ul>
