<% include ../partials/trade %>

<a href=<%= "/chats/mychats/" + thisChat._id %>>View Chat</a>

<form class="btn" method="POST" action=<%= "/trades/remove/" + thisTrade._id + "?_method=PUT" %>>
  <button type="submit" class="btn btn-default">Remove Offer</button>
</form>
