<h2>Create Listing</h2>

<form class="new-listing" method="post" action="/listings">
  <div class="row">
    <div class="form-group col-md-6">
      <label for="listingNameInput">Name</label>
      <input type="text" class="form-control" id="listingNameInput" placeholder="Item Name" name="listing[name]">
    </div>
    <div class="form-group col-md-6">
      <label for="listingDescription">Description</label>
      <input type="text" class="form-control" id="listingDescription" placeholder="Description" name="listing[description]">
    </div>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
