body {
  background-color: rgb(36, 94, 171);
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 12px;
}

form {
  margin-bottom: 10px;
}

.listing {
  border: 2px solid grey;
  border-radius: 5px;
}

.trade-container {
  border: 2px solid grey;
  border-radius: 5px;
}

.view-trade {
  margin-top: 30px;
}

.chat-message {
  border: 1px solid black;
  border-radius: 3px;
  margin: 2px 0;
  padding: 2px 0 2px 5px;
}

.view-message {
  margin-top: 10px;
  margin-left: 20px;
}

.user-message {
  background-color: rgb(58, 201, 22);
}

.reply-message {
  background-color: white;
}

.embolden {
  font-weight: bold;
}

.chat {
  border: 2px solid grey;
  border-radius: 5px;
}

.message-time-stamp {
  font-size: 12px;
}
