<div class="jumbotron">
  <h2><%= header %></h2>
</div>


<% if (user) { %>
  <form class="new-listing" method="post" action="/listings">
    <div class="row">
      <div class="form-group col-md-5 col-md-offset-1">
        <label for="listingNameInput">Name</label>
        <input type="text" class="form-control" id="listingNameInput" placeholder="Item Name" name="listing[name]">
      </div>
      <div class="form-group col-md-5">
        <label for="listingDescription">Author</label>
        <input type="text" class="form-control" id="listingDescription" placeholder="Author" name="listing[description]">
      </div>
      <button type="submit"  class="btn btn-primary col-md-4 col-md-offset-4">Create New Book</button>
    </div>
  </form>
<% } %>

<% include ../partials/listings %>
