<div class="jumbotron">
  <h2><%= header %></h2>
</div>

  <% if (user) { %>
    <form class="form-inline" method="post" action="/listings">
    <div class="col-md-8 col-md-offset-2 new-listing">

      <div class="form-group">
        <label for="listingNameInput">Name</label>
        <input type="text" class="form-control" id="listingNameInput" placeholder="Item Name" name="listing[name]">
      </div>

      <div class="form-group">
        <label for="listingDescription" class="author-label">Author</label>
        <input type="text" class="form-control" id="listingDescription" placeholder="Author" name="listing[description]">
      </div>

      <div class="form-group create-new-book-button">
        <button type="submit" class="btn btn-primary">Create New Book</button>
      </div>

    </div>
    </form>
    <% } %>

<div class="additional-margin"></div>

<% include ../partials/listings %>
