<% include ../partials/listing %>

<a href= <%= "/trades/" + data.user_id._id +  "/" + data._id +"/selecttrade" %> >Make an offer</a>
<a href= <%= "/chats/new/" + data.user_id._id +  "/" + data._id %> >Send Message</a>
