<div class="jumbotron">
  <% include ../partials/listing %>

  <a class="btn btn-primary button-div" href= <%= "/trades/" + data.user_id._id +  "/" + data._id +"/selecttrade" %> >Make an offer</a>
  <a class="btn btn-primary button-div" href= <%= "/chats/new/" + data.user_id._id +  "/" + data._id %> >Send Message</a>
</div>
